
  p {
    
  }
  
  .card {
    font-size: x-large;
    max-width: 500px;
    height: 300px;
    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
    /* border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px; */
    /* background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px); */
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  

  /* Button Css */
  .hero-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 1px solid #333333;
    position: relative;
    transition: 0.3s;
    background-color: #ffffff00;
  }
  
  .original-button::before, .original-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform-origin: 100% 50%;
    height: 1px;
    width: 11px;
    background-color: #333;
    border-radius: 2px;
    will-change: transform;
    transition: .3s;
  }
  
  .original-button::before {
    transform: translateY(-50%) rotate(30deg);
  }
  
  .original-button::after {
    transform: translateY(-50%) rotate(-30deg);
  }
  
  .original-button:hover::before {
    transform: translate(5px, -50%) rotate(30deg);
  }
  
  .original-button:hover::after {
    transform: translate(5px, -50%) rotate(-30deg);
  }