.marquee-container {
    margin-top: 20px;
    text-align: center;
    height: 250px;
  }
  
  .title {
    margin-bottom: 50px;
  }
  
  .image_wrapper {
    height: 150px;
    margin: 0px 30px;
  }
  
  .image_wrapper img {
    /* width: 40%; */
    height: 100px;
    width: 100px;
  }